body {
    display: block;
    width: 99%;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

section{
    display : block;
    width:100%;
    height:fit-content;
    margin : 0;
}

.border{
    border:1px solid black;
}

.objective{
    font-size : 18px;
    font-weight: 700;
}

.acquirePage{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 32px;
    color: rgb(225 170 70);
    height: 100%;

}

.user_input{

    outline: none;
    width : 20%;
    padding : 10px 30px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 8px;
    font-weight: 700;
    border : 2px solid rgb(225 170 70);
    color : rgb(225 170 70);
    background: rgb(255, 255, 255);
    text-align: center;
    

}