.objective{
    display: block;
    width:100%;
    height :5vh;    
    text-align: center;
}

.controlBox{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height : 30vh;
    padding : 10px 30px;
    color: rgb(225 170 70);
    border-radius: 8px;
    background-color: #f0f0f0;

}

.round1-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width:100%;;
    height : 60vh;
    transition: all 1s ease-in-out;
}


.character{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;

}

.thanosCon{
    display: inline-flex;
    height: 100%;
    width: 30%;
}

.heroesCon{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 0%;
    flex-direction: column;

}

.heroesCon > div {

    height: 50%;

}

@keyframes loki_killed {
    
    0%{
        transform: rotate(5deg);   
    }

    12%{
        transform: rotate(-5deg);   
    }

    25%{
        transform: rotate(5deg);   
    }
    39%{
        transform: rotate(-5deg);   
    }
    50%{
        transform: rotate(5deg);   
    }
    62%{
        transform: rotate(-5deg);   
    }
    75%{
        transform: rotate(5deg);   
    }
    87%{
        transform: rotate(-5deg);   
    }
    100%{
        transform: rotate(5deg);   
    }

}


.headCon{
    width : 100px;
    height : 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius : 100%;
    background-color: #ccc;
}

.dialougeCon{
    display: flex;
    justify-content: space-between;
    align-items : center;
    flex-direction: row;
    gap: 10px;
    padding : 0 10px;
}

.dialougeHead{
    height : 80%;
}

#dialouge{
    width : 90%;
    padding : 10px 30px;
    font-size: 18px;
    line-height: 35px;
    border-radius: 8px;
    font-weight: 700;
    border : 2px solid rgb(225 170 70);
    background: rgb(255, 255, 255);
    text-align: center;
}

.choiceBtnCon{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap : 30px;

}

.choiceBtnCon > button {

    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    padding: 30px 70px;
    border: none;
    outline: none;
    background:rgb(225 170 70);
    color: white;


}